body {
    margin: 0;
}

/*.container {
    height: 800px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }*/

/* 프로필 이미지 */
.img {
    justify-content: center;
}

#porfile_img {
    width: 150px;
    height: 150px;
    border: 1px solid #2B3856;
    transform: scale(1);
    /* 이미지 사이즈 고정 */
    border-radius: 70%
}

.menu_bar {
    position: fixed;
    border: 0;
    background-color: #2B3856;
    width: 200px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index {
    text-align: center;
    display: flex;
    flex-direction: column;
}
/* 목차 */
.index h3 {
    color: white;
    opacity: 0.7;
    text-decoration: none;
    cursor: pointer;
}
/* 목차 각 항목 반응형 커서 */
.index h3:hover {
    font-size: 1.1em;
    opacity: 1;
    text-shadow: 0.7px 0.7px 0.7px #000;
}
section {
    margin-left: 260px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    margin: 0;
}

/* ABOUT */
.name {
    font-size: 65px;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
}
.contacts {
    font-size: 15px;
    opacity: 0.5;
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
}
.main_introduction {
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
    opacity: 0.8;
}
/* sns 픽토그램 */
.sns-pictogram i {
    margin-right: 40px;
}
/*픽토그램 반응형 커서*/
footer i:hover {
    transform: translate(0, -3px);
}

/* SKILLS */
.skills {
    font-family: 'Oswald', sans-serif;
}

.skill_icons i {
    margin-right: 40px;
    color:#2B3856;
}

.skill_icons i:hover {
    transform: translate(0, -3px);
}
.works {
    font-family: 'Oswald', sans-serif;
}
.questions {
    font-family: 'Oswald', sans-serif;
}
